<header class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-1">
            <div class="img-logo-container">
                <picture><img align="middle" class="img-logo" src="assets/images/udacity.svg"></picture>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-11 text-sm-right text-center">
            <h1 class="header-name">Reuben Groenewald</h1>
            <h4 class="dark-blue">Front End Expert</h4>
        </div>
    </div>
    <hr class="header-rule" style="border-top: 4px solid rgba(125,151,173,0.8);">
</header>