<div class="container pb-3">
    <section id="hero" class="my-5">
        <picture id="hero-image">
            <source media="(min-width: 992px)" srcset="assets/images/programming_code-_1200.jpg">
            <source media="(min-width: 768px)" srcset="assets/images/programming_code-_992.jpg">
            <source media="(min-width: 576px)" srcset="assets/images/programming_code-_768.jpg">
            <source media="(max-width: 575px)" srcset="assets/images/programming_code-_576.jpg">
            <img class="img-fluid" src="assets/images/programming_code-_original.jpg" alt="Programming Code">
        </picture>
    </section>
    <section id="featured-work">
        <h3 class="feature-title">Featured Work</h3>
        <div class="row">
            <div class="col-md-4">
                <picture id="application-1-image">
                    <source media="(min-width: 992px)" srcset="assets/images/application_1-_350.jpg">
                    <source media="(min-width: 768px)" srcset="assets/images/application_1-_290.jpg">
                    <source media="(min-width: 0px)" srcset="assets/images/application_1-_576.jpg">
                    <img class="img-fluid" src="assets/images/application_1-_original.jpg" alt="Application 1">
                </picture>
                <div class="py-2">
                    <h4 class="text-center text-capitalize dark-blue feature-card-title">Application 1</h4>
                    <a href="https://github.com" target="_blank" class="text-center feature-card-link"><p>Git Hub - Coming Soon</p></a>
                </div>
            </div>
            <div class="col-md-4">
                <picture id="application-2-image">
                    <source media="(min-width: 992px)" srcset="assets/images/application_2-_350.jpg">
                    <source media="(min-width: 768px)" srcset="assets/images/application_2-_290.jpg">
                    <source media="(min-width: 0px)" srcset="assets/images/application_2-_576.jpg">
                    <img class="img-fluid" target="_blank" src="assets/images/application_2-_original.jpg" alt="Application 2">
                </picture>
                <div class="py-2">
                    <h4 class="text-center text-capitalize dark-blue feature-card-title">Application 2</h4>
                    <a href="https://github.com" class="text-center feature-card-link"><p>Git Hub - Coming Soon</p></a>
                </div>
            </div>
            <div class="col-md-4">
                <picture id="application-3-image">
                    <source media="(min-width: 992px)" srcset="assets/images/application_3-_350.jpg">
                    <source media="(min-width: 768px)" srcset="assets/images/application_3-_290.jpg">
                    <source media="(min-width: 0px)" srcset="assets/images/application_3-_576.jpg">
                    <img class="img-fluid" target="_blank" src="assets/images/application_3-_original.jpg" alt="Application 3">
                </picture>
                <div class="py-2">
                    <h4 class="text-center text-capitalize dark-blue feature-card-title">Application 3</h4>
                    <a href="https://github.com" class="text-center feature-card-link"><p>Git Hub - Coming Soon</p></a>
                </div>
            </div>
        </div>
    </section>
</div>